.vscode
makefile
CoCo/ovcc
CoCo/obj
CoCo/dsks
CoCo/libs
CoCo/paks
CoCo/vhds
CoCo/roms
CoCo/Vcc.ini
CoCo/makefile
FD502/makefile
FD502/testlib
FD502/obj
HardDisk/harddisk.def
HardDisk/makefile
HardDisk/resource.h
HardDisk/testlib
HardDisk/obj
Ramdisk/makefile
Ramdisk/testlib
Ramdisk/obj
SuperIDE/makefile
SuperIDE/testlib
SuperIDE/obj
becker/makefile
becker/testlib
becker/obj
mpi/makefile
mpi/mpi.def
mpi/testlib
mpi/obj
orch90/makefile
orch90/orch90.def
orch90/testlib
orch90/obj
