Exec/
CoCo/ovcc
*/obj
*/lib*.so
*/testlib
*/*_bck
.vscode/*
CoCo/ovcc_clang
CoCo/ovcc_gcc
CoCo/libs/*
CoCo/roms/*
CoCo/vhds/*
CoCo/dsks/*
CoCo/*.rom
CoCo/*.ini
mpi/.vscode/*
CoCo/ovcc_nomm
CoCo/ovcc_mmu
CoCo/ovcc_mmu_swt
CoCo/ovcc_nommu
testlib
HardDiskO/
